@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  padding: 5%;
  font-family: "outfit", sans-serif;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  height: 300px;
}

.text {
  margin: auto;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 25px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 18px;
  white-space: pre-wrap;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
